<h2>List all Categories</h2>

<ul>
  <% @categories.each do |cat| %>
    <li><%= cat.name %>
    <%= link_to 'Show', category_path(cat) %>
    <%= link_to 'Edit', edit_category_path(cat) %>
    <%= link_to 'Destroy', category_path(cat), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<%= link_to 'Create new category', new_category_path %></br>
